        {{#each products}}
        <div>
        <h3>{{title}}</h3>
      <p>Precio: {{price}}</p>
      <p>Cantidad: {{stock}}</p>
      <p>Descripcion: {{description}}</p>
      <p>Código: {{code}}</p>
        </div>
        {{/each}}

